<!-- Blog -->
<section class="section section__blog">
    <div class="container">
        <div class="blog">
            <div class="blog__header">
                <h2 class="section__title">Recent Blog</h2>
                <a href="#" class="blog__link">View All Posts</a>
            </div>
            <div class="blog__list">
                <div class="blog__item">
                    <div class="blog__img"><img src="@img/blog-1.jpg" alt=""></div>
                    <div class="blog__info">
                        <div class="blog__name">First Time Home Owner Ideas</div>
                        <div class="blog__author"><span>by</span> Nana Ama <span>on</span> Nov 18th, 2022</div>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__img"><img src="@img/blog-2.jpg" alt="img"></div>
                    <div class="blog__info">
                        <div class="blog__name">First Time Home Owner Ideas</div>
                        <div class="blog__author"><span>by</span> Nana Ama <span>on</span> Nov 18th, 2022</div>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__img"><img src="@img/blog-3.jpg" alt="img"></div>
                    <div class="blog__info">
                        <div class="blog__name">First Time Home Owner Ideas</div>
                        <div class="blog__author"><span>by</span> Nana Ama <span>on</span> Nov 18th, 2022</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>