<section class="section section__design">
    <div class="container">
        <div class="design">
            <div class="design__item left__item">
                <img class='design__img design__img--1' src='@img/design-1.png' alt='couch'>
                <img class='design__img design__img--2' src='@img/design-2.png' alt='lamp'>
                <img class='design__img design__img--3' src='@img/design-3.png' alt='chair'> 
            </div>
            <div class="design__item right__item">
                <h2 class="section__title">We help  you make Modern Interior Design</h2>
                <p class="section__subtext">Donec mattis porta eros, aliquet finibus risus interdum at Nulla vivethe as it was for us to know what was to be done. the this is a long  post for the text.`This small text has to be place here, since this is a place holder. You can also chane it.</p>
                <ul class="design__list">
                    <li>Donec mattis porta eros,let aliquet finibus ri</li>
                    <li>Donec mattis porta eros,let aliquet finibus ri</li>
                    <li>Donec mattis porta eros,let aliquet finibus ri</li>
                    <li>Donec mattis porta eros,let aliquet finibus ri</li>
                </ul>
                <a href="#" class="btn btn--default">Explore</a>
            </div>
        </div>
    </div>
</section>