<!-- Testimonials -->
<section class="section section__testimonials">
    <div class="container">
        <div class="testimonials">
            <h2 class="section__title text-center">Testimonials</h2>
            <div class="testimonials__wrapper">
                <div class="swiper testimonials__swiper">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide testimonials__slide">
                            <div class="testimonials__text">‘’Donec nibh magna, interdum quis massa sed, rhoncus laoreet
                                quam. Mauris accumsan felis fermentum euismod egestas. Mauris ante augue, cursus sit
                                amet
                                arcu a, maximus suscipit nibh. Integer vel nibh tellus. Pellentesque in risus non dui
                                venenatis sollicitudin sed vitae diam. Fusce tincidunt nisl mi, at molestie odio
                                accumsan
                                non. Pellentesque ma’’
                            </div>
                            <div class="testimonials__avatar">
                                <img src="@img/person.jpg" alt="girl">
                            </div>
                            <div class="testimonials__name">Michelle Anna</div>
                            <div class="testimonials__position">CEO, Co-Founder, XYZ Inc.</div>
                        </div>
                        <div class="swiper-slide testimonials__slide">
                            <div class="testimonials__text">‘’Donec nibh magna, interdum quis massa sed, rhoncus laoreet
                                quam. Mauris accumsan felis fermentum euismod egestas. Mauris ante augue, cursus sit
                                amet
                                arcu a, maximus suscipit nibh. Integer vel nibh tellus. Pellentesque in risus non dui
                                venenatis sollicitudin sed vitae diam. Fusce tincidunt nisl mi, at molestie odio
                                accumsan
                                non. Pellentesque ma’’
                            </div>
                            <div class="testimonials__avatar">
                                <img src="@img/person.jpg" alt="girl">
                            </div>
                            <div class="testimonials__name">Michelle Anna</div>
                            <div class="testimonials__position">CEO, Co-Founder, XYZ Inc.</div>
                        </div>
                        <div class="swiper-slide testimonials__slide">
                            <div class="testimonials__text">‘’Donec nibh magna, interdum quis massa sed, rhoncus laoreet
                                quam. Mauris accumsan felis fermentum euismod egestas. Mauris ante augue, cursus sit
                                amet
                                arcu a, maximus suscipit nibh. Integer vel nibh tellus. Pellentesque in risus non dui
                                venenatis sollicitudin sed vitae diam. Fusce tincidunt nisl mi, at molestie odio
                                accumsan
                                non. Pellentesque ma’’
                            </div>
                            <div class="testimonials__avatar">
                                <img src="@img/person.jpg" alt="girl">
                            </div>
                            <div class="testimonials__name">Michelle Anna</div>
                            <div class="testimonials__position">CEO, Co-Founder, XYZ Inc.</div>
                        </div>
                        <div class="swiper-slide testimonials__slide">
                            <div class="testimonials__text">‘’Donec nibh magna, interdum quis massa sed, rhoncus laoreet
                                quam. Mauris accumsan felis fermentum euismod egestas. Mauris ante augue, cursus sit
                                amet
                                arcu a, maximus suscipit nibh. Integer vel nibh tellus. Pellentesque in risus non dui
                                venenatis sollicitudin sed vitae diam. Fusce tincidunt nisl mi, at molestie odio
                                accumsan
                                non. Pellentesque ma’’
                            </div>
                            <div class="testimonials__avatar">
                                <img src="@img/person.jpg" alt="girl">
                            </div>
                            <div class="testimonials__name">Michelle Anna</div>
                            <div class="testimonials__position">CEO, Co-Founder, XYZ Inc.</div>
                        </div>
                        <div class="swiper-slide testimonials__slide">
                            <div class="testimonials__text">‘’Donec nibh magna, interdum quis massa sed, rhoncus laoreet
                                quam. Mauris accumsan felis fermentum euismod egestas. Mauris ante augue, cursus sit
                                amet
                                arcu a, maximus suscipit nibh. Integer vel nibh tellus. Pellentesque in risus non dui
                                venenatis sollicitudin sed vitae diam. Fusce tincidunt nisl mi, at molestie odio
                                accumsan
                                non. Pellentesque ma’’
                            </div>
                            <div class="testimonials__avatar">
                                <img src="@img/person.jpg" alt="girl">
                            </div>
                            <div class="testimonials__name">Michelle Anna</div>
                            <div class="testimonials__position">CEO, Co-Founder, XYZ Inc.</div>
                        </div>
                        <div class="swiper-slide testimonials__slide">
                            <div class="testimonials__text">‘’Donec nibh magna, interdum quis massa sed, rhoncus laoreet
                                quam. Mauris accumsan felis fermentum euismod egestas. Mauris ante augue, cursus sit
                                amet
                                arcu a, maximus suscipit nibh. Integer vel nibh tellus. Pellentesque in risus non dui
                                venenatis sollicitudin sed vitae diam. Fusce tincidunt nisl mi, at molestie odio
                                accumsan
                                non. Pellentesque ma’’
                            </div>
                            <div class="testimonials__avatar">
                                <img src="@img/person.jpg" alt="girl">
                            </div>
                            <div class="testimonials__name">Michelle Anna</div>
                            <div class="testimonials__position">CEO, Co-Founder, XYZ Inc.</div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <button class="slider__btn prev-btn">
                    <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="slider__btn-path" d="M9 18.43L1 10.1164L9 1.80273" stroke="black" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                <button class="slider__btn next-btn">
                    <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="slider__btn-path" d="M1 18.43L9 10.1164L1 1.80273" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>