<!-- Testimonials -->
<section class="section section__testimonials">
    <div class="container">
        <div class="testimonials">
            <h2 class="section__title text-center">Testimonials</h2>
            <!-- Slider main container -->
            <div class="swiper testimonials__swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide testimonials__slide">
                        <div class="testimonial__text">‘’Donec nibh magna, interdum quis massa sed, rhoncus laoreet quam. Mauris accumsan felis fermentum euismod egestas. Mauris ante augue, cursus sit amet arcu a, maximus suscipit nibh. Integer vel nibh tellus. Pellentesque in risus non dui venenatis sollicitudin sed vitae diam. Fusce tincidunt nisl mi, at molestie odio accumsan non. Pellentesque ma’’
                        </div>
                        <div class="testimonials__avatar">
                           <img src='@img/person.jpg' alt='girl'>
                        </div>
                        <div class="testimonials__name">Michelle Anna</div>
                        <div class="testimonials__position">CEO, Co-Founder, XYZ Inc.</div>
                    </div>

                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
                <!-- If we need navigation buttons -->
            </div>
        </div>
    </div>
</section>