<section class="section section__hero">
    <div class="container">
        <div class="hero__item">
            <h1 class="hero__title">
                {{!-- Modern Interior Design Studio --}}
            </h1>
            <div class="hero__btns">
                <a href="#" class="btn btn--cta">Shop Now</a>
                <a href="#" class="btn btn--transparent">Explore</a>
            </div>
        </div>
        <div class="hero__item">
            <img src="@img/couch.png" alt="couch" class="hero__img">
        </div>
    </div>
</section>