@use "../abstract/vars" as *;
@use "../abstract/mixins" as *;

/*
   ==== Sections ====
*/

.section {
  // .section__title
  &__title {
    font-weight: var(--fw-semi-bold);
    font-size: rem(34);
    line-height: rem(41);
    color: var(--heading-co);

    @media (max-width: $breakpoint768) {
      line-height: 1.3;
      font-size: rem(30);
    }
  }
  // .section__title-subtext
  &__subtext {
    font-size: rem(14);
    line-height: rem(24);
    margin-top: rem(27);
    max-width: rem(444);

    @media (max-width: $breakpoint768) {
      margin-top: rem(16);
      line-height: rem(20);
    }
  }

  // .section__hero
  &__hero {
    padding-top: rem(90);
    background-color: var(--green-co);
    border-top: 1px solid rgba($color: #fff, $alpha: 0.8);
    position: relative;
    overflow: hidden;
    @media (max-width: $breakpoint992) {
      padding-top: rem(75);
    }

    @media (max-width: $breakpoint768) {
      padding-top: rem(50);
    }
  }

  &__crafts {
    padding-top: rem(150);

    @media (max-width: $breakpoint992) {
      padding-top: rem(75);
    }

    @media (max-width: $breakpoint768) {
      padding-top: rem(50);
    }
  }

  &__choose {
    padding-top: rem(150);

    @media (max-width: $breakpoint992) {
      padding-top: rem(75);
    }

    @media (max-width: $breakpoint768) {
      padding-top: rem(50);
    }
  }

  // .section__design
  &__design {
    padding-top: rem(150);
    @media (max-width: $breakpoint992) {
      padding-top: rem(75);
    }

    @media (max-width: $breakpoint768) {
      padding-top: rem(50);
    }
  }

  // .section__examples
  &__examples {
    padding-top: rem(150);
    @media (max-width: $breakpoint992) {
      padding-top: rem(75);
    }

    @media (max-width: $breakpoint768) {
      padding-top: rem(50);
    }
  }

  &__testimonials {
    padding-top: rem(150);
    @media (max-width: $breakpoint992) {
      padding-top: rem(75);
    }

    @media (max-width: $breakpoint768) {
      padding-top: rem(50);
    }
  }
}
