{{#> layouts/main title="Furni - Home"}}
    {{#> page-blocks/_hero}}
    {{/page-blocks/_hero}}

    {{#> page-blocks/_crafts}}
    {{/page-blocks/_crafts}}

    {{#> page-blocks/_choose}}
    {{/page-blocks/_choose}}
    <h1>tomas</h1>
{{/layouts/main}}