/*
  ==== Colors ====
*/

:root {
  --white-co: #fff;
  --black-co:#000;
  --orange-co: #F9BF29;
  --burger-color: var( --orange-co);
  --burger-active-color: var( --orange-co);
  --green-co: #35736e;
  --body-text-co: #6A6A6A;
  --heading-co: #2F2F2F;
}