@use "sass:math";

//REM
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}

@mixin flex-column($gap) {
	display: flex;
	flex-direction: column;
	gap: rem($gap);
}

@mixin flex-sb-center($gap) {
	display: flex;
    justify-content: space-between;
    align-items: center;
	gap: rem($gap);
}
